/* ***************************************************************************** */
/*                                                                               */
/* Estilo CSS de los elementos base de la pantalla principal                     */
/*                                                                               */
/* ***************************************************************************** */
/* https://www.materialui.co/colors */
 * {
	-fx-font-family: Trebuchet; /* Sans-serif; */
	-fx-text-fill: black;
} 

.panelIngreso {
	-fx-font-size: 16.0px;
	-fx-background-color: #FAFAFA;
}

.campoIngreso {
	-fx-font-size: 14.0px;
	-fx-background-color: #FAFAFA;
	-fx-text-fill: orange;	
	-fx-font-weight: bold;
}

/* ------------------------- MAIN STYLECLASS ------------------------- */

/* ------------------------- PANE STYLECLASS ------------------------- */
.tarjeta {
	-fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.3), 5.0, 0.0, 0.0,
		2.0);
	-fx-border-radius: 2.0;
	-fx-background-color: #FAFAFA;
}


/* -------------------------------------------------------------------- */
/* ------------------------- Estilos de Turno ------------------------- */
/* -------------------------------------------------------------------- */
.turnoLibre {
	/* TEAL */
	-fx-background-color: #B2DFDB;
	-fx-border-color: #004D40;
}

.turnoReservado {
	/* YELLOW */
	-fx-background-color: #FFF9C4;
	-fx-border-color:#F57F17;
}

.turnoTerminado {
	/* PURPLE */
	-fx-background-color: #E1BEE7;
	-fx-border-color:#4A148C;
}

.vinculo-Turno-Consumido {
	-fx-font-weight: bold;
	-fx-text-fill: red;
}

.vinculo-Turno-No-Consumido {
	-fx-font-weight: bold;
	-fx-text-fill: darkgrey;
}

.celdaLibre {
	-fx-background-color: lightblue;	
}

.celdaReservada {
	-fx-background-color: mediumaquamarine;
	-fx-font-weight: bold;
}

.celdaTerminada {
	-fx-background-color: darkgrey;
}

.celdaTurnoLibre {
	-fx-background-color: lightblue;	
}

.celdaTurnoReservado {
	-fx-background-color: mediumaquamarine;
	-fx-font-weight: bold;
}

.celdaTurnoCerrado {
	-fx-background-color: darkgrey;
}

/* *************************************************************** */
/*                             Varios                              */
/* *************************************************************** */

.imagenCentral {
	-fx-background-color: #FFFFFF;
	-fx-alignment: center ;
}

#indicadorCargando {
	-fx-progress-color: royalblue;
	-fx-pref-width: 30.0px;
	-fx-pref-height: 30.0px;
}

/* -------------------------------------------------------------------- */
/* ------------------------- Estilos de Campo ------------------------- */
/* -------------------------------------------------------------------- */
.campo-normal {
	-fx-text-fill: #000000; 
	-fx-font-style: normal;
	-fx-background-color: #FFFFFF;
	-fx-border-color: #CCCCCC;
	-fx-border-radius: 2.0px;
}

.campo-invalido {
	-fx-text-fill: #E65100;
	-fx-font-style: italic;
	-fx-background-color: #FFF3E0;
	-fx-border-color: #E65100;
	-fx-border-radius: 2.0px;
}

.campo-valido {
	-fx-text-fill: #1B5E20; 
	-fx-background-color: #E8F5E9;
	-fx-border-color: #1B5E20;
	-fx-border-radius: 2.0px;
}

.campo-transparente {
	-fx-background-color: transparent;
	-fx-border-color: darkgray;
	-fx-border-width: 0.0 0.0 2.0 0.0;
}

.campo-transparente > .text-field {
	-fx-background-color: transparent;
}

.campo-transparente > .arrow-button  {
	-fx-background-color: transparent;
}

.campo-transparente-valido {
	-fx-border-color: green;
	-fx-background-color: transparent;
	-fx-border-width: 0.0 0.0 2.0 0.0;
}

.campo-transparente-valido > .text-field {
	-fx-background-color: transparent;
}

.campo-transparente-valido > .arrow-button  {
	-fx-background-color: transparent;
}

.campo-transparente-invalido {
	-fx-border-color: red;
	-fx-background-color: transparent;
	-fx-border-width: 0.0 0.0 3.0 0.0;
}

.campo-transparente-invalido > .text-field {
	-fx-background-color: transparent;
}

.campo-transparente-invalido > .arrow-button  {
	-fx-background-color: transparent;
}

/* -------------------------------------------------------------------- */
/* ------------------------- Estilos de Tabla ------------------------- */
/* -------------------------------------------------------------------- */
.tabla-transparente .column-header,
.tabla-transparente .column-header .filler,
.tabla-transparente .column-header-background .filler {
    -fx-background-color: white;
}

.tabla-transparente > .column-header-background {
	-fx-border-color: darkgray;
	-fx-border-width: 0.0 0.0 2.0 0.0;
}

.tabla-transparente > .table-row-cell {
	-fx-border-color: darkgray;
	-fx-border-width: 0.0 0.0 1.0 0.0;
}

/* *************************************************************** */
/*                             Botones                             */
/* *************************************************************** */

.boton {
	-fx-effect: dropshadow( gaussian, rgba(0.0,0.0,0.0,0.3) , 5.0, 0.0 , 1.0 , 2.0 );
    -fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size:13.0px;
	-fx-border-radius: 4.0px;
}

.buton-principal {
	-fx-background-color: transparent; 
	-fx-text-fill: darkgray; 
	-fx-font-size: 16.0; 
	-fx-border-color: white; 
	-fx-border-width: 0.0 0.0 0.0 0.0;
	}

.buton-principal:hover {
	-fx-text-fill: white;
}

.buton-principal:focused {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-width: 0.0 0.0 2.0 0.0;
}

.buton-principal-seleccionado {
	-fx-background-color: transparent; 
	-fx-text-fill: white;
	-fx-font-size: 16.0; 
	-fx-border-color: white; 
	-fx-font-weight: bold;
	-fx-border-width: 0.0 0.0 1.0 0.0;
}


.botonPrincipal {
	-fx-effect: dropshadow( gaussian, rgba(0.0,0.0,0.0,0.3) , 5.0, 0.0 , 0.0 , 2.0 );
	-fx-border-radius: 2.0px;
	-fx-background-color: #FAFAFA;
	-fx-font-size: 12.0px;
}

.botonPrincipal:hover {
	-fx-background-color:  #E0E0E0;
	-fx-effect: dropshadow( gaussian, rgba(0.0,0.0,0.0,0.2) , 5.0, 0.0 , 0.0 , 2.0 );
/* 	blur, color, blur kernel radius, spread, offset x, offset y */
	
}

.botonPrincipal:pressed {
	-fx-background-color:  #9E9E9E;
	-fx-text-fill: #FAFAFA;
	-fx-effect: dropshadow( gaussian, rgba(0.0,0.0,0.0,0.7) , 5.0, 0.0 , 0.0 , 2.0 );
	
}

.botonOpciones {
	-fx-effect: dropshadow( gaussian, rgba(0.0,0.0,0.0,0.1) , 10.0, 0.0 , 0.0 , 0.0 );
	-fx-border-radius: 16.0px;
	-fx-background-color: #FFF;
}

.botonVerde {
	-fx-background-color: #4CAF50; /* linear-gradient(#5ca359, #326b3a); */
}

.botonRojo {
	-fx-background-color: #F44336; /* linear-gradient(#d6392f, #681f1a); */
}

.botonAzul {
	-fx-background-color: #03A9F4; /* linear-gradient(#61a2b1, #2A5058); */
}

.botonAmarillo {
	-fx-background-color: #FFEB3B; /* linear-gradient(#61a2b1, #2A5058); */
}

.botonVioleta {
	-fx-background-color: #673AB7;
} 

.botonMiniatura {
    -fx-font-size:10.0px;
}

/* ******************************************************************************* */

.panelCentral {
	-fx-font-size: 12.0px; 
	-fx-background-color: #FFFFFF;
}

.visiblePrompt {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30.0%);
}

.visiblePrompt:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30.0%);
}

.imagenPaciente {
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 4.0, 0.0 , 0.0 , 1.0 );
}

.etiquetaSubtitulo {
	/* text14, borde-inferior, borde-gris */
	-fx-font-size: 14.0px;
	-fx-border-color: #AAA;
	-fx-border-width:  0.0 0.0 1.0 0.0;
}

.titulo {
	/* text18, negrita */
	-fx-font-size: 18.0;
	-fx-font-weight: bold;
}

.etiquetaID {
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
}

.campoObligatorio {
	-fx-text-fill: #D24B0D;
	-fx-font-weight: bolder;
}
.paddingDerecho8 {
	-fx-padding: 0.0 8.0 0.0 0.0;
}

/* ***************************************************************************** */
/*  Estilo CSS para el formulario y controlador de historia clinica              */
/* ***************************************************************************** */

.statusPaciente {
	-fx-font-size: 11.0px;
	-fx-text-fill: darkviolet;
}

/* ***************************************************************************** */
/*                          Pestañas de Historia Clinica                         */
/* ***************************************************************************** */
#tabPaneHistClinica .tab-header-background {
    -fx-background-color: #FFFFFF ;
}

.tabHistClinica {
	-fx-border-radius: 2.0px 2.0px 0.0 0.0px; 
}

.tabHistClinica:selected {
	-fx-font-weight: bold;	
}

/* Las Tabs son valor 300 (back) y 500 (border) */
#tabPaciente {
	/* Deep purple */
	-fx-background-color: #9575CD;
	-fx-border-color: #2196F3; 
}

#tabMedicina {
	/* Blue */
	-fx-background-color: #64B5F6;
	-fx-border-color: #2196F3;
}

#tabNutric {
	/* Deep purple */
	-fx-background-color: #4DD0E1;
	-fx-border-color: #00BCD4;
}

#tabPodo {
	/* Deep purple */
	-fx-background-color: #81C784;
	-fx-border-color: #4CAF50;
}

#tabPatologias {
	/* Deep purple */
	-fx-background-color: #DCE775;
	-fx-border-color: #CDDC39;
}

#tabEncuestas {
	/* Deep purple */
	-fx-background-color: #FFD54F;
	-fx-border-color: #FFC107;
}

#tabEstadisticas {
	/* Deep purple */
	-fx-background-color: #FF8A65;
	-fx-border-color: #FF5722;
}

#tabImagenes {
	/* Deep purple */
	-fx-background-color: #E57373;
	-fx-border-color: #F44336;
}

#tabArchivos {
	/* Deep purple */
	-fx-background-color: #F06292;
	-fx-border-color: #E91E63;
}

#tabConsulta {
	/* Deep purple */
	-fx-background-color: #BA68C8;
	-fx-border-color: #9C27B0;
}

/* *************************************************************** */
/*                          Formato simple                         */
/* *************************************************************** */

.bold {
	-fx-font-weight: bold;
}

.negrita {
	-fx-font-weight: bold;
}

.spacing2 {
	-fx-spacing: 2.0px;
}

.spacing4 {
	-fx-spacing: 4.0px;
}

.spacing8 {
	-fx-spacing: 8.0px;
}

.spacing10 {
	-fx-spacing: 10.0px;
}

.spacing12 {
	-fx-spacing: 12.0px;
}

.spacing16 {
	-fx-spacing: 16.0px;
}

.padding2 {
	-fx-padding: 2.0px;
}

.padding4 {
	-fx-padding: 4.0px;
}

.padding6 {
	-fx-padding: 6.0px;
}

.padding8 {
	-fx-padding: 8.0px;
}

.padding10 {
	-fx-padding: 10.0px;
}

.padding12 {
	-fx-padding: 12.0px;
}

.padding20 {
	-fx-padding: 20.0px;
}

.padding-izquierdo-10 {
	-fx-padding: 0.0 0.0 0.0 10.0;
}

.text10 {
	-fx-font-size: 10.0px;
}

.text11 {
	-fx-font-size: 11.0px;
}

.text12 {
	-fx-font-size: 12.0px;
}

.text13 {
	-fx-font-size: 13.0px;
}

.text14 {
	-fx-font-size: 14.0px;
}

.text16 {
	-fx-font-size: 16.0px;
}

.text18 {
	-fx-font-size: 18.0px;
}

.text20 {
	-fx-font-size: 20.0px;
}

.centered {
	-fx-alignment: center;
}

.borderRadius2 {
	-fx-border-radius: 2.0px;
}

.borderRadius4 {
	-fx-border-radius: 4.0px;
}

.borderRadius12 {
	-fx-border-radius: 12.0px;
}

.borde-redondeado {
	-fx-border-radius: 1.0em; /* 12 */
}

.fondo-blanco {
	-fx-background-color: white;
}

.fondo-suave {
	-fx-background-color: aliceblue;
}

.texto-negro {
	-fx-text-fill: black;
}

.texto-naranja {
	-fx-text-fill: orange;	
}

.texto-verde {
	-fx-text-fill: green;	
}

.borde-inferior {
	-fx-border-width: 0 0 1 0;	
}

.borde-gris {
	-fx-border-color: gray;
}

.borde-gris-suave {
	-fx-border-color: lightgray;
}

.borde-negro {
	-fx-border-color: black;
}

.borde-inferior-ancho {
	-fx-border-width: 0.0 0.0 3.0 0.0;	
}

.borde-superior-inferior {
	-fx-border-width:  1.0 0.0 1.0 0.0;
}

.borde-inferior-suave {
	-fx-border-width: 0.0 0.0 0.5 0.0;
	-fx-border-color: #CCC;
}

.borde-derecho {
	-fx-border-width: 0.0 1.0 0.0 0.0;
	-fx-border-color: #333;
}

.borde-izquierdo {
	-fx-border-width: 0.0 0.0 0.0 1.0;
	-fx-border-color: #333;
}

.fondo-podo {
	-fx-background-color: #FFE0B2;
}

.fondo-nutric {
	-fx-background-color: #E1BEE7;	
}

.fondo-medico {
	-fx-background-color: #B3E5FC;	
}

.fondo-datos-paciente {
/*	-fx-background-color: #E0F2F1; */
	-fx-background-color: #FFF8E1;
}

.fondo-clinico-paciente {
/*	-fx-background-color: #E0F2F1; */
	-fx-background-color: #FFEBEE;
}

.fondo-busqueda {
	-fx-background-color: #F0F4C3;	
}

.campo-estilizado {
	-fx-border-color: white;
    -fx-background-color: white;
    -fx-font-size: 1.3em; 
	-fx-text-box-border: transparent;
}

.campo-estilizado-mini {
	-fx-border-color: white;
    -fx-background-color: white;
    -fx-font-size: 1.0em; 
	-fx-text-box-border: transparent;
}

.linea-debajo {
	-fx-border-color: black;
	-fx-border-width: 0.0 0.0 1.0 0.0;
}

.globo-flotante {
	-fx-background-color: #FFF8E1;
}
/* ***************************************************************************** */
