/******************************************************************************
 * 
 * Main theme
 * 
 *****************************************************************************/
.notification-bar > .pane {
	/*    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; */
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.8);
    -fx-padding: 8;
    -fx-spacing: 8;
    -fx-underline: true;
    -fx-border-radius: 3.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.2), 8.0, 0.0, 0.0, 3.0);
    -fx-background-insets: 0.0, 1.0, 2.0;
}

.notification-bar > .pane .title {
    -fx-font-size: 1.166667em; /*15px;*/
    -fx-text-fill: #292929;
    -fx-font-weight: bold;
}

.notification-bar > .pane .label {
    -fx-font-size: 1.0em; /*12px;*/
    -fx-text-fill: #292929;
    -fx-alignment: top-left;
}

/******************************************************************************
 * 
 * Specific themes
 * 
 *****************************************************************************/

.notification-bar.confirm > .pane {
	-fx-text-fill: #00529B; 
    -fx-background-color: #BDE5F8;
}

.notification-bar.warning > .pane {
    -fx-text-fill: #9F6000;
    -fx-background-color: #FEEFB3;
}

.notification-bar.information > .pane {
	-fx-text-fill: #00529B; 
    -fx-background-color: #BDE5F8;
}

.notification-bar.success > .pane {
    -fx-text-fill: #4F8A10;
    -fx-background-color: #DFF2BF;
}

.notification-bar.error > .pane {
    -fx-text-fill: #D8000C;
    -fx-background-color: #FFD2D2;
}

/******************************************************************************
 * 
 * Close button
 * 
 *****************************************************************************/
 .notification-bar > .pane .close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 2.0;
    -fx-padding: 0.0 0.0 0.0 0.0;
    -fx-alignment: center;
}

.notification-bar > .pane .close-button:hover {
    -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34.0%, #777777 36.0%, #777777 63.0%, #8b8b8b 65.0%, #adadad);
}

.notification-bar > .pane .close-button:pressed {
    -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34.0%, #777777 36.0%, #777777 63.0%, #8b8b8b 65.0%, #adadad);
}

.notification-bar > .pane .close-button > .graphic {
    -fx-background-color: #949494;
    -fx-scale-shape: false;
    -fx-padding: 4.5; /* Graphic is 9x9 px */
}

.notification-bar > .pane .close-button:hover > .graphic {
    -fx-background-color: #fefeff;
}

.notification-bar > .pane .close-button:pressed > .graphic {
    -fx-background-color: #cfcfcf;
}

.notification-bar > .pane .close-button > .graphic {
	/* Cross shaped graphic */
    -fx-shape: "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}