
.lista {
	-fx-background-color: white;
}

.botonLista {
	-fx-background-color: rgba(200.0,200.0,200.0,0.1); 
	-fx-border-color: gray; 
	-fx-border-radius: 2.0px;
	-fx-padding: 2.0 4.0 2.0 4.0; 
	-fx-spacing: 8.0;
}

.botonLista:hover {
	-fx-background-color: rgba(128.0,128.0,128.0,0.3); 
	-fx-border-color: darkgray; 
}

.botonLista:pressed {
	-fx-background-color: rgba(128.0,128.0,128.0,0.5); 
	-fx-text-fill: #FAFAFA;
	-fx-border-color: white; 
}

.botonListaHBox {
	-fx-spacing: 4.0;
	-fx-padding: 2.0;
}

.vbox-paciente-seleccionado {
	-fx-background-color: #BDBDBD;
	-fx-text-fill: #FFF;	
	-fx-font-weight: bold;
}

